
:host{
width: 33%;
}

.game-card {
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    }
  
    .game-image {
      width: 120px;
      height: 120px;
      object-fit: cover; // Ensures the image covers the area without distorting aspect ratio
      border-radius: 8px; // Ensures rounded corners on all sides for the image
    }
  
    .game-details {
      padding: 20px;
      color: white; // Ensures text color is white
      flex-grow: 1;
  
      h3 {
        margin: 0 0 10px 0;
        color: #66c0f4; // Accent color
      }
    }
  }
